layer_6_modified.mat filter=lfs diff=lfs merge=lfs -text
layer_7_modified.mat filter=lfs diff=lfs merge=lfs -text
layer_8_modified.mat filter=lfs diff=lfs merge=lfs -text
layer_1_modified.mat filter=lfs diff=lfs merge=lfs -text
layer_2_modified.mat filter=lfs diff=lfs merge=lfs -text
layer_3_modified.mat filter=lfs diff=lfs merge=lfs -text
layer_4_modified.mat filter=lfs diff=lfs merge=lfs -text
layer_5_modified.mat filter=lfs diff=lfs merge=lfs -text
